include mixin/_image

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(
      rel="shortcut icon",
      href=require(`../assets/images/favicon.png`),
      type="image/png"
    )
    title Empty Project
  body 
    .content.card
      .popup.js-popup
        .popup__window
          input.popup__input.js-popup__input(type='text' placeholder='Edite Your task')
          button.popup__close.js-popup__close close
          button.popup__accept.js-popup__accept accept
      .wrapper.js-themeChange
        .page
          header.header
            .header__title
              .header__title-color.js-color__change Color
              //- p.header__title-text Hello ! Write your task
              .header__title-text
              
                p.header__title-text-main Hello ! Write your task
                .header__title-error

                  p.header__title-text-error.js-error-form Write your task first
                    button#js-error.header__title-text-error-close
                    //- | x
            .header__form
              //- .header__form-error.js-error-form
                //- .header__form-error-text write your task first
                //- button#js-error.header__form-error-close
                //-   | x
              input.header__form-inpute.js-inpute-form(type='text' placeholder='Here...')
              button#js-input-btn.header__form-btn Pin
          .descr
            .descr__line
              .descr__count.js-descr__count Today:
          .info.js-info Add your first task
          .tasks
            #js-addTask.tasks__list.js-tasks__list
          .clear
            .clear__btn.js-clear__btn
              button.clear__btn-all.clearAll Clear All
            .clear__btn.js-clear__checked
              button.clear__btn-checked.clearChecked.js-clearChecked
                | Clear Done
    script(src='/sc.js')
